{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style-base.css' %}" />
    <title>Site ONG</title>
  </head>
  <body>
    <div class="primeira-div">
      <header id="navbar">
        <div class="container">
          <a href="#" class="logo-link">
            <div class="container-logo">
              <img
                src="{% static 'img/logo-ampa.jpg' %}"
                class="logo-navbar"
                alt="logo"
              />
            </div>
          </a>
          <!--<h1 class="slogan">ONG AMPE</h1>-->

          <nav>
            <ul class="nav-links">
              <li><a href="#">Início</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Contato</a></li>
              <li><a href="#">Área administrativa</a></li>
            </ul>
          </nav>
          <a class="link-btn-adote" href="#"
            ><button class="adote-btn">Adote um Pet</button></a
          >
        </div>
      </header>
      <main>
        <div class="gradient-background">
          <div class="container-size">
            <div class="left-content">
              <h1 class="primary-style">Faça a diferença</h1>
              <h1 class="primary-style">sem sair de casa!</h1>
              <p class="secondary-style">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Perferendis labore voluptatum quae praesentium asperiores itaque
                quisquam laboriosam repellat. Odio assumenda eligendi eius non.
                Aperiam rerum ex molestiae a quaerat iure?
              </p>
            </div>
            <div class="right-content">
              <img
                src="https://preview.redd.it/make-this-picture-of-my-dog-look-like-the-dog-accepting-its-v0-eopk8hj75ipe1.jpg?width=640&crop=smart&auto=webp&s=ea804c09fca8f4348327af2b05b36014b44c799e"
                alt=""
              />
            </div>
          </div>
        </div>

        <section class="section-partner">
          <div class="container-partner">
            <h2 class="h2-partner">Nossos Parceiros</h2>
            <div class="partner-div1">
              <div class="carousel-partner">
                <div class="carrosel-div2">
                  <div class="parter1-carousel">
                    <a class="a-teste" target="_blank" href="https://www.youtube.com/">
                      <div class="img-carousel-partner">
                        <img src="{% static 'img/cachorro-kawai.png' %}" alt="">
                      </div>
                    </a>
                  </div>

                </div>
              </div>
              
              <button class="carousel-btn-left">
                <img class="img-bnt-next" src="{% static 'img/next.png' %}" alt="Anterior" />
              </button>
              <button class="carousel-btn-right">
                <img class="img-bnt-next" src="{% static 'img/next.png' %}" alt="Próximo" />
              </button>
            </div>

          
          </div>
        </section>
      </main>

      <footer></footer>
    </div>
    <script>
      let lastScrollTop = 0;
      const navbar = document.getElementById("navbar");

      window.addEventListener("scroll", function () {
        const scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          // Rolando para baixo → esconde a navbar
          navbar.style.top = "-105px";
        } else {
          // Rolando para cima → mostra a navbar
          navbar.style.top = "0";
        }

        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // evita valores negativos
      });
    </script>
    <script>
      const carrosselContainer = document.querySelector(".carrossel-container");
      const btnLeft = document.querySelector(".carrossel-btn.left");
      const btnRight = document.querySelector(".carrossel-btn.right");

      let deslocamento = 0;
      const itemLargura = 224; // largura média de um item + margem

      btnRight.addEventListener("click", () => {
        deslocamento -= itemLargura;
        carrosselContainer.style.transform = `translateX(${deslocamento}px)`;
      });

      btnLeft.addEventListener("click", () => {
        deslocamento += itemLargura;
        carrosselContainer.style.transform = `translateX(${deslocamento}px)`;
      });
    </script>

    {% block content %}{% endblock %}
  </body>
</html>
